.header {
  width: 100vw;
  height: 50px;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;

   &__left {
    padding-left: 50px;
   }
   &__center {
     flex: 1;
     width: 40vw;
     display: flex;
     justify-content: center;

   }
   &__right {
     padding-right: 50px;
   }
}


//sticky header styles
.sticky {
  background: blue;
  position: sticky;
  left: 0;
  top: 0;
}